
                <div>
                    <h2 class='clr-5 p4'>Nuestra Galeria</h2>
                    <hr style="color: #0056b2;" />
                    <br>
             

                        <div class='box-1'>
                        <a  class='img-border' ng-click="verinicial1()"><img src='images/foto1.png' alt=''></a>
                        <p class='text-2'>Inicial 1</p>
                    </div>
                       
                    <div class='box-1 last'>
                        <a  class='img-border' ng-click="verinicial2()"><img src='images/foto2.jpg' alt=''></a>
                        <p class='text-2'>Inicial 2 (3 a 4 años)</p>
                    </div>
                    <div class='clear p5'></div>
                    <div class='box-1'>
                        <a  class='img-border' ng-click="verinicial23()"><img src='images/foto3.jpg' alt=''></a>
                        <p class='text-2'>Inicial 2 (4 a 5 años)</p>
                    </div>
                    <div class='box-1 last'>
                        <a  class='img-border' ng-click="verfotospeke()"><img src='images/foto4.jpg' alt=''></a>
                        <p class='text-2'>Pekelandia</p>
                    </div>
                    <div class='clear'></div>
                    <div class='pad-2'>
                        <hr style="color: #0056b2;" />
                    </div>
                    </div>
